/*Using mobile first in this CSS file*/
/*Dark mode it's the default style, but there's a way to change to ligth mode*/
:root{
    /*Colors*/
    --background-c:linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    --clean-color-bacground:#616161;
    --clean-color: #E5E5E5;
    --operator-color-background: #FF7629;
    --operator-color: black;
    --number-color-background: #303136;
    --number-color:#FF7629;
    --equal-color: #17181A;
    --equal-color-background: #FFFFFF;
    --result-color-number: #FFFFFF;
    --result-color-operator: #FF7629;
    --shadow: none;
    border: none;
}
/* .ligthTheme{
    --shadow: box-shadow: 8px 10px 8px 0px rgb(0 0 0 / 29%) inset, 0px 4px 4px 0px rgb(0 0 0 / 25%);
    --clean-color: #858585;
    --clean-color-bacground: #FFFFFF;
} */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 64.5%;
    font-family: 'Poppins', sans-serif;
}
body{
    background:var(--background-c);

}
button{
    border: none;
    text-decoration: none;    
    cursor:pointer;
    box-shadow: var(--shadow);
}
/*Result section*/
.container{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}
.result{
    margin: 30px 30px;
    text-align: end;
}
.resultElement{
    color: var(--result-color-number);
}
.operation{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 36px;
}
.showResult{
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}

/*Buttons section*/
.operationButtons{
    margin: 0 auto;
    width: 70%;
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows:auto auto 1fr auto auto; */
    grid-template-rows: repeat(5,1fr) ;
    grid-auto-rows: 2fr;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}
.operationButtons button{
    width: 62px;
    height: 62px;
    border-radius: 16px;
}
.clean{
    background-color: var(--clean-color-bacground);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 36px;
    font-style: normal;
}
.all_clean{
    color: var(--clean-color);
}

/*Operators*/
.operatiorOnScreen{
    color: var(--number-color);
}
.operator{
    background-color: var(--operator-color-background);
    color: var(--operator-color);
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.8rem;
}
.multipleOperator{
    font-size: 4rem;
    line-height: 7.5rem;
    
}
.operationButtons .showResultOperator{
    background-color: var(--equal-color-background);
    color: var(--equal-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 48px;


    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 4;
    grid-row-end: 6;
    height: 100px;
    
    position: relative;
    top: 38px; /*23 px it's the number to get the difference between it and plus 15px of gap*/
}
.number{
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 48px;
    color: var(--number-color);
    background-color: var(--number-color-background);
}
.operationButtons .number0{
    grid-column: 1/3;
    width: 142px;
}

.operationButtons .sumOperator {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 100px;
}

/*Position*/
